dify/test_3.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: test 3
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: trigger-plugin
        targetType: end
      id: 1782982050012-source-1782986405191-target
      source: '1782982050012'
      sourceHandle: source
      target: '1782986405191'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        config: {}
        desc: 当机器人所在的群聊收到消息时激活，提供消息内容和发送者信息。
        event_description: 当机器人所在的群聊收到消息时激活，提供消息内容和发送者信息。
        event_label: 收到消息
        event_name: message_receive_v1
        event_parameters: {}
        is_team_authorization: false
        meta:
          version: '1.0'
        output_schema:
          properties:
            chat_id:
              description: Chat where message was sent
              type: string
            chat_type:
              description: Type of chat (group or P2P)
              type: string
            content:
              description: Message content
              type: string
            create_time:
              description: Message creation timestamp
              type: string
            mentions:
              description: List of mentioned users or bots
              items:
                properties:
                  id:
                    properties:
                      open_id:
                        type: string
                      union_id:
                        type: string
                      user_id:
                        type: string
                    type: object
                  key:
                    type: string
                  name:
                    type: string
                  tenant_key:
                    type: string
                type: object
              type: array
            message_id:
              description: Unique message identifier
              type: string
            message_type:
              description: Type of message content
              type: string
            parent_id:
              description: Parent message ID for threaded replies
              type: string
            root_id:
              description: Root message ID if this is a reply
              type: string
            sender_id:
              description: ID of the message sender
              properties:
                open_id:
                  type: string
                union_id:
                  type: string
                user_id:
                  type: string
              type: object
            sender_type:
              description: Type of sender (user or bot)
              type: string
            tenant_key:
              description: Tenant key of the sender
              type: string
            update_time:
              description: Message update timestamp
              type: string
          type: object
        parameters_schema: []
        plugin_id: langgenius/lark_trigger
        plugin_unique_identifier: langgenius/lark_trigger:0.1.0@a375c05bcb3e055529ebd604033246c928bad27e46b7817af4db881d49dfbd76
        provider_id: langgenius/lark_trigger/lark_trigger
        provider_name: langgenius/lark_trigger/lark_trigger
        provider_type: trigger
        selected: true
        subscription_id: ''
        title: 收到消息
        type: trigger-plugin
      height: 152
      id: '1782982050012'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782982050012'
          - content
          value_type: string
          variable: content
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1782986405191'
      position:
        x: 421
        y: 317
      positionAbsolute:
        x: 421
        y: 317
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 99
      y: 47
      zoom: 1
  rag_pipeline_variables: []
