dify/test.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: test
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/feishu_message:0.0.7@bb17336206d6a804ecbeae638a0cbd2f864c648a5c32ce63c4c92c208da467e3
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.18@ef52c8128cefe169e4ea882a8c7d92e6cf0bd4f7da75be644ab6b09a3dcfa4f4
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1782832379552-llm
      source: '1782832379552'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 72
      id: '1782832379552'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 8d182ada-ba01-4b32-a5d6-672a0346607a
          role: system
          text: ''
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: false
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'The address of the webhook, the format of the webhook address
              corresponding to the bot is as follows: https://open.feishu.cn/open-apis/bot/v2/hook/xxxxxxxxxxxxxxxxx.
              For details, please refer to: Feishu Custom Bot Usage Guide(https://open.larkoffice.com/document/client-docs/bot-v3/add-custom-bot)

              '
            ja_JP: 'The address of the webhook, the format of the webhook address
              corresponding to the bot is as follows: https://open.feishu.cn/open-apis/bot/v2/hook/xxxxxxxxxxxxxxxxx.
              For details, please refer to: Feishu Custom Bot Usage Guide(https://open.larkoffice.com/document/client-docs/bot-v3/add-custom-bot)

              '
            pt_BR: 'The address of the webhook, the format of the webhook address
              corresponding to the bot is as follows: https://open.feishu.cn/open-apis/bot/v2/hook/xxxxxxxxxxxxxxxxx.
              For details, please refer to: Feishu Custom Bot Usage Guide(https://open.larkoffice.com/document/client-docs/bot-v3/add-custom-bot)

              '
            zh_Hans: 'webhook 的地址，机器人对应的 webhook 地址格式如下: https://open.feishu.cn/open-apis/bot/v2/hook/xxxxxxxxxxxxxxxxx，详情可参考:
              飞书自定义机器人使用指南(https://open.larkoffice.com/document/client-docs/bot-v3/add-custom-bot)

              '
          label:
            en_US: webhook
            ja_JP: webhook
            pt_BR: webhook
            zh_Hans: webhook
          llm_description: 'webhook 的地址，机器人对应的 webhook 地址格式如下: https://open.feishu.cn/open-apis/bot/v2/hook/xxxxxxxxxxxxxxxxx，详情可参考:
            飞书自定义机器人使用指南(https://open.larkoffice.com/document/client-docs/bot-v3/add-custom-bot)

            '
          max: null
          min: null
          name: webhook
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Message type. Optional values are text, image, interactive, share_chat.
              For detailed introduction of different message types, refer to the message
              content(https://open.larkoffice.com/document/server-docs/im-v1/message-content-description/create_json).
            ja_JP: Message type. Optional values are text, image, interactive, share_chat.
              For detailed introduction of different message types, refer to the message
              content(https://open.larkoffice.com/document/server-docs/im-v1/message-content-description/create_json).
            pt_BR: Message type. Optional values are text, image, interactive, share_chat.
              For detailed introduction of different message types, refer to the message
              content(https://open.larkoffice.com/document/server-docs/im-v1/message-content-description/create_json).
            zh_Hans: 消息类型。可选值有：text、image、interactive、share_chat。不同消息类型的详细介绍，参见发送消息内容(https://open.larkoffice.com/document/server-docs/im-v1/message-content-description/create_json)。
          label:
            en_US: msg_type
            ja_JP: msg_type
            pt_BR: msg_type
            zh_Hans: 消息类型
          llm_description: 消息类型。可选值有：text、image、interactive、share_chat。不同消息类型的详细介绍，参见发送消息内容(https://open.larkoffice.com/document/server-docs/im-v1/message-content-description/create_json)。
          max: null
          min: null
          name: msg_type
          options:
          - icon: ''
            label:
              en_US: text
              ja_JP: text
              pt_BR: text
              zh_Hans: 文本
            value: text
          - icon: ''
            label:
              en_US: interactive
              ja_JP: interactive
              pt_BR: interactive
              zh_Hans: 卡片
            value: interactive
          - icon: ''
            label:
              en_US: image
              ja_JP: image
              pt_BR: image
              zh_Hans: 图片
            value: image
          - icon: ''
            label:
              en_US: share_chat
              ja_JP: share_chat
              pt_BR: share_chat
              zh_Hans: 分享群名片
            value: share_chat
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Message content, a JSON structure serialized string. The value
              of this parameter corresponds to msg_type. For example, if msg_type
              is text, this parameter needs to pass in text type content. To understand
              the format and usage limitations of different message types, refer to
              the message content(https://open.larkoffice.com/document/server-docs/im-v1/message-content-description/create_json).
            ja_JP: Message content, a JSON structure serialized string. The value
              of this parameter corresponds to msg_type. For example, if msg_type
              is text, this parameter needs to pass in text type content. To understand
              the format and usage limitations of different message types, refer to
              the message content(https://open.larkoffice.com/document/server-docs/im-v1/message-content-description/create_json).
            pt_BR: Message content, a JSON structure serialized string. The value
              of this parameter corresponds to msg_type. For example, if msg_type
              is text, this parameter needs to pass in text type content. To understand
              the format and usage limitations of different message types, refer to
              the message content(https://open.larkoffice.com/document/server-docs/im-v1/message-content-description/create_json).
            zh_Hans: 消息内容，JSON 结构序列化后的字符串。该参数的取值与 msg_type 对应，例如 msg_type 取值为 text，则该参数需要传入文本类型的内容。了解不同类型的消息内容格式、使用限制，可参见发送消息内容(https://open.larkoffice.com/document/server-docs/im-v1/message-content-description/create_json)。
          label:
            en_US: content
            ja_JP: content
            pt_BR: content
            zh_Hans: 消息内容
          llm_description: 消息内容，JSON 结构序列化后的字符串。该参数的取值与 msg_type 对应，例如 msg_type 取值为
            text，则该参数需要传入文本类型的内容。了解不同类型的消息内容格式、使用限制，可参见发送消息内容(https://open.larkoffice.com/document/server-docs/im-v1/message-content-description/create_json)。
          max: null
          min: null
          name: content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          content: ''
          msg_type: ''
          webhook: ''
        plugin_id: langgenius/feishu_message
        plugin_unique_identifier: langgenius/feishu_message:0.0.7@bb17336206d6a804ecbeae638a0cbd2f864c648a5c32ce63c4c92c208da467e3
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=6661ab8d-f3e0-4308-b481-f8712751fcd3&filename=ee4ff3ed2702909064ab2f041a890ebc15e31b9e057cd5b5f045473a083b30f9.svg
        provider_id: langgenius/feishu_message/feishu_message
        provider_name: langgenius/feishu_message/feishu_message
        provider_show_name: 飞书消息
        provider_type: builtin
        selected: true
        title: 使用自定义机器人发送飞书消息
        tool_configurations:
          msg_type:
            type: constant
            value: null
        tool_description: 使用自定义机器人发送飞书消息
        tool_label: 使用自定义机器人发送飞书消息
        tool_name: send_webhook_message
        tool_node_version: '2'
        tool_parameters:
          content:
            type: mixed
            value: null
          webhook:
            type: mixed
            value: null
        type: tool
      height: 87
      id: '1782981794432'
      position:
        x: 423.40158163890413
        y: 503.321078479245
      positionAbsolute:
        x: 423.40158163890413
        y: 503.321078479245
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 358.1216042116041
      y: 199.5539515375641
      zoom: 0.757858283255199
  rag_pipeline_variables: []
