dify/文件读取.yml
app:
  description: 测试文件读取功能
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 文件读取
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/feishu_message:0.0.7@bb17336206d6a804ecbeae638a0cbd2f864c648a5c32ce63c4c92c208da467e3
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.18@ef52c8128cefe169e4ea882a8c7d92e6cf0bd4f7da75be644ab6b09a3dcfa4f4
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1783149227430-source-1783149324092-target
      source: '1783149227430'
      sourceHandle: source
      target: '1783149324092'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1783149324092-source-1783150109059-target
      source: '1783149324092'
      sourceHandle: source
      target: '1783150109059'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: trigger-plugin
        targetType: document-extractor
      id: 1783157543785-source-1783149227430-target
      source: '1783157543785'
      sourceHandle: source
      target: '1783149227430'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        config: {}
        event_description: 当机器人所在的群聊收到消息时激活，提供消息内容和发送者信息。
        event_label: 收到消息
        event_name: message_receive_v1
        event_parameters: {}
        is_team_authorization: false
        meta:
          version: '1.0'
        output_schema:
          properties:
            chat_id:
              description: Chat where message was sent
              type: string
            chat_type:
              description: Type of chat (group or P2P)
              type: string
            content:
              description: Message content
              type: string
            create_time:
              description: Message creation timestamp
              type: string
            mentions:
              description: List of mentioned users or bots
              items:
                properties:
                  id:
                    properties:
                      open_id:
                        type: string
                      union_id:
                        type: string
                      user_id:
                        type: string
                    type: object
                  key:
                    type: string
                  name:
                    type: string
                  tenant_key:
                    type: string
                type: object
              type: array
            message_id:
              description: Unique message identifier
              type: string
            message_type:
              description: Type of message content
              type: string
            parent_id:
              description: Parent message ID for threaded replies
              type: string
            root_id:
              description: Root message ID if this is a reply
              type: string
            sender_id:
              description: ID of the message sender
              properties:
                open_id:
                  type: string
                union_id:
                  type: string
                user_id:
                  type: string
              type: object
            sender_type:
              description: Type of sender (user or bot)
              type: string
            tenant_key:
              description: Tenant key of the sender
              type: string
            update_time:
              description: Message update timestamp
              type: string
          type: object
        paramSchemas: []
        params: {}
        plugin_id: langgenius/lark_trigger
        plugin_unique_identifier: langgenius/lark_trigger:0.1.0@a375c05bcb3e055529ebd604033246c928bad27e46b7817af4db881d49dfbd76
        provider_id: langgenius/lark_trigger/lark_trigger
        provider_name: langgenius/lark_trigger/lark_trigger
        provider_type: trigger
        selected: false
        subscription_id: ''
        title: 收到消息
        type: trigger-plugin
      height: 84
      id: '1783157543785'
      position:
        x: 39.38441307440536
        y: 382.2826012187398
      positionAbsolute:
        x: 39.38441307440536
        y: 382.2826012187398
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: false
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1783149174561'
        - file
      height: 104
      id: '1783149227430'
      position:
        x: 365.76344462458974
        y: 403.2826012187398
      positionAbsolute:
        x: 365.76344462458974
        y: 403.2826012187398
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1783149227430'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 39f5271e-f0ec-435a-be4b-b32651aeb0a3
          role: system
          text: "请作为专业的采购合同分析师，从{{#1783149227430.text#}}提取关键信息，并**仅输出符合以下JSON Schema的结构化数据**（不要包含任何额外文本或解释）：\n\
            \n{\n  \"合同基本信息\": \n    \"合同类型\": \"string\",\n    \"甲方\": \"string\"\
            ,\n    \"乙方\": \"string\",\n    \"合同编号\": \"string\",\n    \"签订日期\": \"\
            YYYY年MM月DD日\",\n    \"签订地点\": \"string\"\n  },\n  \"服务内容\": {\n    \"\
            服务项目\": \"string\",\n    \"服务期限\": \"string\",\n    \"服务标准\": \"string\"\
            ,\n    \"服务地址\": \"string\",\n    \"服务联系人\": {\n      \"甲方\": \"string\"\
            ,\n      \"乙方\": \"string\"\n    },\n    \"工程师要求\": \"string\"\n  },\n\
            \  \"财务信息\": {\n    \"合同总金额\": \"number\",\n    \"大写金额\": \"string\",\n\
            \    \"付款方式\": \"string\",\n    \"付款阶段\": \"array\",\n    \"收款账户\": {\n\
            \      \"户名\": \"string\",\n      \"开户行\": \"string\",\n      \"账号\":\
            \ \"string\"\n    }\n  },\n  \"设备清单\": \"array\",\n  \"重要条款\": {\n   \
            \ \"验收标准\": \"string\",\n    \"违约责任\": \"string\",\n    \"保密义务\": \"string\"\
            ,\n    \"知识产权\": \"string\"\n  },\n  \"附件信息\": {\n    \"附件一\": \"string\"\
            ,\n    \"附件二\": \"string\",\n    \"附件三\": \"string\"\n  }\n}\n\n**注意**：若文档内容为空，请输出所有字段但值为\"\
            未提及\"（字符串字段）或0（数值字段），数组字段留空。\n"
        selected: false
        structured_output:
          schema:
            properties:
              字段定义:
                properties:
                  合同基本信息:
                    properties:
                      乙方:
                        type: string
                      合同类型:
                        type: string
                      合同编号:
                        type: string
                      甲方:
                        type: string
                      签订地点:
                        type: string
                      签订日期:
                        pattern: ^\d{4}年\d{2}月\d{2}日$
                        type: string
                    required:
                    - 合同类型
                    - 甲方
                    - 乙方
                    - 合同编号
                    - 签订日期
                    - 签订地点
                    type: object
                  设备清单:
                    type: array
                  财务信息:
                    properties:
                      付款方式:
                        type: string
                      付款阶段:
                        type: array
                      合同总金额:
                        type: number
                      大写金额:
                        type: string
                    required:
                    - 合同总金额
                    - 大写金额
                    - 付款方式
                    - 付款阶段
                    type: object
                  重要条款:
                    type: object
                required:
                - 合同基本信息
                - 财务信息
                - 设备清单
                - 重要条款
                type: object
              输出格式:
                type: string
            required:
            - 输出格式
            - 字段定义
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1783149324092'
      position:
        x: 659.6804920892271
        y: 313.55606328618313
      positionAbsolute:
        x: 659.6804920892271
        y: 313.55606328618313
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1783149324092'
          - structured_output
          value_type: object
          variable: structured_output
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1783150109059'
      position:
        x: 947.4854129814983
        y: 313.55606328618313
      positionAbsolute:
        x: 947.4854129814983
        y: 313.55606328618313
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The ID of the group chat or single chat. Refer to the group ID
              description for how to obtain it. https://open.feishu.cn/document/server-docs/group/chat/chat-id-description
            ja_JP: The ID of the group chat or single chat. Refer to the group ID
              description for how to obtain it. https://open.feishu.cn/document/server-docs/group/chat/chat-id-description
            pt_BR: The ID of the group chat or single chat. Refer to the group ID
              description for how to obtain it. https://open.feishu.cn/document/server-docs/group/chat/chat-id-description
            zh_Hans: 群聊或单聊的 ID，获取方式参见群 ID 说明。https://open.feishu.cn/document/server-docs/group/chat/chat-id-description
          label:
            en_US: Container Id
            ja_JP: Container Id
            pt_BR: Container Id
            zh_Hans: 群聊或单聊的 ID
          llm_description: 群聊或单聊的 ID，获取方式参见群 ID 说明。https://open.feishu.cn/document/server-docs/group/chat/chat-id-description
          max: null
          min: null
          name: container_id
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The start time for querying historical messages, formatted as "2006-01-02
              15:04:05".
            ja_JP: The start time for querying historical messages, formatted as "2006-01-02
              15:04:05".
            pt_BR: The start time for querying historical messages, formatted as "2006-01-02
              15:04:05".
            zh_Hans: 待查询历史信息的起始时间，格式为 "2006-01-02 15:04:05"。
          label:
            en_US: Start Time
            ja_JP: Start Time
            pt_BR: Start Time
            zh_Hans: 起始时间
          llm_description: 待查询历史信息的起始时间，格式为 "2006-01-02 15:04:05"。
          max: null
          min: null
          name: start_time
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The end time for querying historical messages, formatted as "2006-01-02
              15:04:05".
            ja_JP: The end time for querying historical messages, formatted as "2006-01-02
              15:04:05".
            pt_BR: The end time for querying historical messages, formatted as "2006-01-02
              15:04:05".
            zh_Hans: 待查询历史信息的结束时间，格式为 "2006-01-02 15:04:05"。
          label:
            en_US: End Time
            ja_JP: End Time
            pt_BR: End Time
            zh_Hans: 结束时间
          llm_description: 待查询历史信息的结束时间，格式为 "2006-01-02 15:04:05"。
          max: null
          min: null
          name: end_time
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: ByCreateTimeAsc
          form: form
          human_description:
            en_US: 'The message sorting method. Optional values are ByCreateTimeAsc:
              sorted in ascending order by message creation time; ByCreateTimeDesc:
              sorted in descending order by message creation time. The default value
              is ByCreateTimeAsc. Note: When using page_token for pagination requests,
              the sorting method (sort_type) is consistent with the first request
              and cannot be changed midway.

              '
            ja_JP: 'The message sorting method. Optional values are ByCreateTimeAsc:
              sorted in ascending order by message creation time; ByCreateTimeDesc:
              sorted in descending order by message creation time. The default value
              is ByCreateTimeAsc. Note: When using page_token for pagination requests,
              the sorting method (sort_type) is consistent with the first request
              and cannot be changed midway.

              '
            pt_BR: 'The message sorting method. Optional values are ByCreateTimeAsc:
              sorted in ascending order by message creation time; ByCreateTimeDesc:
              sorted in descending order by message creation time. The default value
              is ByCreateTimeAsc. Note: When using page_token for pagination requests,
              the sorting method (sort_type) is consistent with the first request
              and cannot be changed midway.

              '
            zh_Hans: '消息排序方式，可选值有 ByCreateTimeAsc：按消息创建时间升序排列；ByCreateTimeDesc：按消息创建时间降序排列。默认值为：ByCreateTimeAsc。注意：使用
              page_token 分页请求时，排序方式（sort_type）均与第一次请求一致，不支持中途改换排序方式。

              '
          label:
            en_US: Sort Type
            ja_JP: Sort Type
            pt_BR: Sort Type
            zh_Hans: 排序方式
          llm_description: 消息排序方式，可选值有 ByCreateTimeAsc：按消息创建时间升序排列；ByCreateTimeDesc：按消息创建时间降序排列。默认值为：ByCreateTimeAsc。注意：使用
            page_token 分页请求时，排序方式（sort_type）均与第一次请求一致，不支持中途改换排序方式。
          max: null
          min: null
          name: sort_type
          options:
          - icon: ''
            label:
              en_US: ByCreateTimeAsc
              ja_JP: ByCreateTimeAsc
              pt_BR: ByCreateTimeAsc
              zh_Hans: ByCreateTimeAsc
            value: ByCreateTimeAsc
          - icon: ''
            label:
              en_US: ByCreateTimeDesc
              ja_JP: ByCreateTimeDesc
              pt_BR: ByCreateTimeDesc
              zh_Hans: ByCreateTimeDesc
            value: ByCreateTimeDesc
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 20
          form: form
          human_description:
            en_US: The page size, i.e., the number of data entries returned in a single
              request. The default value is 20, and the value range is [1,50].
            ja_JP: The page size, i.e., the number of data entries returned in a single
              request. The default value is 20, and the value range is [1,50].
            pt_BR: The page size, i.e., the number of data entries returned in a single
              request. The default value is 20, and the value range is [1,50].
            zh_Hans: 分页大小，即单次请求所返回的数据条目数。默认值为 20，取值范围为 [1,50]。
          label:
            en_US: Page Size
            ja_JP: Page Size
            pt_BR: Page Size
            zh_Hans: 分页大小
          llm_description: 分页大小，即单次请求所返回的数据条目数。默认值为 20，取值范围为 [1,50]。
          max: null
          min: null
          name: page_size
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The pagination token. Leave it blank for the first request, indicating
              to start traversing from the beginning; when the pagination query result
              has more items, a new page_token will be returned simultaneously, which
              can be used to obtain the query result in the next traversal.
            ja_JP: The pagination token. Leave it blank for the first request, indicating
              to start traversing from the beginning; when the pagination query result
              has more items, a new page_token will be returned simultaneously, which
              can be used to obtain the query result in the next traversal.
            pt_BR: The pagination token. Leave it blank for the first request, indicating
              to start traversing from the beginning; when the pagination query result
              has more items, a new page_token will be returned simultaneously, which
              can be used to obtain the query result in the next traversal.
            zh_Hans: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该
              page_token 获取查询结果。
          label:
            en_US: Page Token
            ja_JP: Page Token
            pt_BR: Page Token
            zh_Hans: 分页标记
          llm_description: 分页标记，第一次请求不填，表示从头开始遍历；分页查询结果还有更多项时会同时返回新的 page_token，下次遍历可采用该
            page_token 获取查询结果。
          max: null
          min: null
          name: page_token
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          container_id: ''
          end_time: ''
          page_size: ''
          page_token: ''
          sort_type: ''
          start_time: ''
        plugin_id: langgenius/feishu_message
        plugin_unique_identifier: langgenius/feishu_message:0.0.7@bb17336206d6a804ecbeae638a0cbd2f864c648a5c32ce63c4c92c208da467e3
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=6661ab8d-f3e0-4308-b481-f8712751fcd3&filename=ee4ff3ed2702909064ab2f041a890ebc15e31b9e057cd5b5f045473a083b30f9.svg
        provider_id: langgenius/feishu_message/feishu_message
        provider_name: langgenius/feishu_message/feishu_message
        provider_show_name: 飞书消息
        provider_type: builtin
        selected: true
        title: 获取指定单聊、群聊的消息历史
        tool_configurations:
          page_size:
            type: constant
            value: 20
          sort_type:
            type: constant
            value: ByCreateTimeAsc
        tool_description: 获取指定单聊、群聊的消息历史
        tool_label: 获取指定单聊、群聊的消息历史
        tool_name: get_chat_messages
        tool_node_version: '2'
        tool_parameters:
          container_id:
            type: mixed
            value: oc_fd6027f92a6d54c7f0ccae60980c45b3
          end_time:
            type: mixed
            value: '2026-07-04 18:00:00'
          page_token:
            type: mixed
            value: null
          start_time:
            type: mixed
            value: '2026-07-03 18:00:00'
        type: tool
      height: 113
      id: '1783159141487'
      position:
        x: 306.9676512107378
        y: 174.2250834686326
      positionAbsolute:
        x: 306.9676512107378
        y: 174.2250834686326
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 115.36202283854914
      y: 64.96207734246812
      zoom: 0.7578582832552003
  rag_pipeline_variables: []
