dify/模拟对比工作流.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 模拟对比工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.18@ef52c8128cefe169e4ea882a8c7d92e6cf0bd4f7da75be644ab6b09a3dcfa4f4
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1783066723280-source-1783067497361-target
      source: '1783066723280'
      sourceHandle: source
      target: '1783067497361'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: document-extractor
      id: 1783067497361-1-1783067791810-target
      source: '1783067497361'
      sourceHandle: '1'
      target: '1783067791810'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: document-extractor
      id: 1783067791810-source-1783067822894-target
      source: '1783067791810'
      sourceHandle: source
      target: '1783067822894'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1783067822894-source-1783068096406-target
      source: '1783067822894'
      sourceHandle: source
      target: '1783068096406'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1783068096406-source-1783068298376-target
      source: '1783068096406'
      sourceHandle: source
      target: '1783068298376'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1783068298376-source-1783068517669-target
      source: '1783068298376'
      sourceHandle: source
      target: '1783068517669'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1783068517669-source-1783068638373-target
      source: '1783068517669'
      sourceHandle: source
      target: '1783068638373'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hide: false
          hint: ''
          label: sales_file
          max_length: 5
          options: []
          placeholder: ''
          required: false
          type: file
          variable: sales_file
        - default: ''
          hint: ''
          label: user_query
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_query
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hide: false
          hint: ''
          label: purchase_file
          options: []
          placeholder: ''
          required: false
          type: file
          variable: purchase_file
      height: 161
      id: '1783066723280'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          label: compare_contracts
          name: 用户要求比对销售合同和采购合同，核对利润、数量、交期等。
        - id: '2'
          label: parse_sales
          name: 用户仅要求解析销售合同，提取关键信息。
        - id: '1783067739319'
          label: other
          name: 闲聊、问候或与合同处理无关的意图。
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1783066723280'
        - user_query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 220
      id: '1783067497361'
      position:
        x: 442
        y: 291
      positionAbsolute:
        x: 442
        y: 291
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: 提取销售合同
        type: document-extractor
        variable_selector:
        - '1783066723280'
        - sales_file
      height: 104
      id: '1783067791810'
      position:
        x: 744
        y: 291
      positionAbsolute:
        x: 744
        y: 291
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: false
        selected: false
        title: 提取采购合同
        type: document-extractor
        variable_selector:
        - '1783066723280'
        - purchase_file
      height: 104
      id: '1783067822894'
      position:
        x: 1084.2713638099349
        y: 291
      positionAbsolute:
        x: 1084.2713638099349
        y: 291
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 327744f8-dd8a-4591-9437-dd9344cb6a90
          role: system
          text: "你是一个资深的法务和采购专家。请仔细阅读以下销售合同文本，提取关键结构化信息。\n请严格以纯 JSON 格式输出，不要包含任何 Markdown\
            \ 标记（如 ```json），不要包含任何解释性文字。如果某项信息未提及，请填 null。确保数字类型不带单位。\n\n输出格式要求：\n\
            {\n  \"customer_name\": \"客户名称\",\n  \"products\": [\n    {\n      \"\
            name\": \"产品名称\",\n      \"quantity\": 数量(数字),\n      \"unit_price\":\
            \ 单价(数字)\n    }\n  ],\n  \"total_amount\": 合同总金额(数字),\n  \"delivery_date\"\
            : \"交付日期(YYYY-MM-DD格式)\"\n}\n"
        - id: 0b17150a-a5e7-47a4-90f5-165c59cf83df
          role: user
          text: /{{#1783067791810.text#}}
        selected: false
        title: 解析销售合同
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783068096406'
      position:
        x: 1386.2713638099349
        y: 291
      positionAbsolute:
        x: 1386.2713638099349
        y: 291
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-pro
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: fb437133-1757-4680-acde-f5828a601c46
          role: system
          text: "你是一个资深的法务和采购专家。请仔细阅读以下采购合同文本，提取关键结构化信息。\n请严格以纯 JSON 格式输出，不要包含任何 Markdown\
            \ 标记（如 ```json），不要包含任何解释性文字。如果某项信息未提及，请填 null。确保数字类型不带单位。\n\n输出格式要求：\n\
            {\n  \"customer_name\": \"客户名称\",\n  \"supplier_name\": \"供应商名称\"\n  \"\
            products\": [\n    {\n      \"name\": \"产品名称\",\n      \"quantity\": 数量(数字),\n\
            \      \"unit_price\": 单价(数字)\n    }\n  ],\n  \"total_amount\": 合同总金额(数字),\n\
            \  \"delivery_date\": \"交付日期(YYYY-MM-DD格式)\"\n}\n"
        - id: b4f0fa19-6b6b-498d-9675-7fa0787c6e98
          role: user
          text: '{{#1783067822894.text#}}'
        selected: false
        title: 解析采购合同
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783068298376'
      position:
        x: 1724.624219578233
        y: 291
      positionAbsolute:
        x: 1724.624219578233
        y: 291
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nfrom datetime import datetime\n\ndef main(sales_json_str:\
          \ str, purchase_json_str: str) -> dict:\n    \n    # 【新增】：精准判空逻辑，直接指出是哪个文件出了问题\n\
          \    if not sales_json_str or not sales_json_str.strip():\n        return\
          \ {\n            \"result\": \"❌ 阻断错误：【销售合同】的解析结果为空！\\n原因排查：1. 文档提取器未提取到文字（可能是扫描版图片PDF）；2.\
          \ LLM节点未正确输出。\",\n            \"is_passed\": False\n        }\n        \n\
          \    if not purchase_json_str or not purchase_json_str.strip():\n      \
          \  return {\n            \"result\": \"❌ 阻断错误：【采购合同】的解析结果为空！\\n原因排查：1. 文档提取器未提取到文字（可能是扫描版图片PDF）；2.\
          \ LLM节点未正确输出。\",\n            \"is_passed\": False\n        }\n\n    # 辅助函数：清洗\
          \ LLM 可能带上的 markdown 标记\n    def clean_json(text):\n        return text.replace(\"\
          ```json\", \"\").replace(\"```\", \"\").strip()\n\n    try:\n        sales_data\
          \ = json.loads(clean_json(sales_json_str))\n        purchase_data = json.loads(clean_json(purchase_json_str))\n\
          \    except json.JSONDecodeError as e:\n        return {\n            \"\
          result\": f\"❌ 格式错误：大模型输出的内容不是合法的 JSON。\\n错误详情：{str(e)}\\n\\n销售合同原始输出：{sales_json_str[:100]}...\\\
          n采购合同原始输出：{purchase_json_str[:100]}...\",\n            \"is_passed\": False\
          \ \n        }\n    except Exception as e:\n        return {\n          \
          \  \"result\": f\"❌ 发生未知错误：{str(e)}\",\n            \"is_passed\": False\n\
          \        }\n\n    report = []\n    is_passed = True\n    \n    # 1. 产品与数量比对\n\
          \    sales_products = {p['name']: p for p in sales_data.get('products',\
          \ []) if p.get('name')}\n    purchase_products = {p['name']: p for p in\
          \ purchase_data.get('products', []) if p.get('name')}\n    \n    for name,\
          \ s_prod in sales_products.items():\n        if name not in purchase_products:\n\
          \            report.append(f\"❌ 异常：采购合同中缺少产品 '{name}'。\")\n            is_passed\
          \ = False\n            continue\n            \n        p_prod = purchase_products[name]\n\
          \        \n        # 数量比对\n        s_qty = s_prod.get('quantity')\n    \
          \    p_qty = p_prod.get('quantity')\n        if s_qty is not None and p_qty\
          \ is not None and s_qty != p_qty:\n            report.append(f\"❌ 异常：产品\
          \ '{name}' 数量不一致。销售: {s_qty}, 采购: {p_qty}。\")\n            is_passed = False\n\
          \            \n        # 利润空间比对 (假设规定毛利率不得低于 15%)\n        s_price = s_prod.get('unit_price')\n\
          \        p_price = p_prod.get('unit_price')\n        if s_price and p_price\
          \ and s_price > 0:\n            margin = (s_price - p_price) / s_price\n\
          \            if margin < 0.15:\n                report.append(f\"⚠️ 警告：产品\
          \ '{name}' 毛利率仅为 {margin:.2%}，低于 15% 安全阈值，请人工复核。\")\n                \n\
          \    # 2. 交付日期比对 (采购到货必须早于销售交付)\n    s_date_str = sales_data.get('delivery_date')\n\
          \    p_date_str = purchase_data.get('delivery_date')\n    if s_date_str\
          \ and p_date_str:\n        try:\n            s_date = datetime.strptime(str(s_date_str).split('T')[0],\
          \ '%Y-%m-%d')\n            p_date = datetime.strptime(str(p_date_str).split('T')[0],\
          \ '%Y-%m-%d')\n            if p_date > s_date:\n                report.append(f\"\
          ❌ 严重异常：采购预计到货 ({p_date_str}) 晚于销售交付 ({s_date_str})，存在违约风险！\")\n        \
          \        is_passed = False\n        except ValueError:\n            report.append(\"\
          ⚠️ 警告：日期格式解析失败，请人工核对交付日期。\")\n            \n    if not report:\n       \
          \ report.append(\"✅ 比对通过：采销合同关键条款一致，利润空间合理，交付日期满足要求。\")\n        \n    final_report\
          \ = \"\\n\".join(report)\n    \n    return {\n        \"result\": final_report,\n\
          \        \"is_passed\": is_passed\n    }\n"
        code_language: python3
        outputs:
          is_passed:
            children: null
            type: boolean
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1783068096406'
          - text
          value_type: string
          variable: sales_json_str
        - value_selector:
          - '1783068298376'
          - text
          value_type: string
          variable: purchase_json_str
      height: 52
      id: '1783068517669'
      position:
        x: 2026.624219578233
        y: 291
      positionAbsolute:
        x: 2026.624219578233
        y: 291
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1783068517669'
          - result
          value_type: string
          variable: comparision_report
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1783068638373'
      position:
        x: 2328.624219578233
        y: 291
      positionAbsolute:
        x: 2328.624219578233
        y: 291
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: 于米提
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"此方法仅供参考，开始节点用的用户输入，到时候可换成lark触发器","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1783075960362'
      position:
        x: 409.46972105523724
        y: 110.67394815646111
      positionAbsolute:
        x: 409.46972105523724
        y: 110.67394815646111
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    viewport:
      x: -665.9465876548261
      y: 184.57559010579672
      zoom: 0.8705505632961251
  rag_pipeline_variables: []
